<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>parsers and formatters</title>

  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css">

</head>
<body ng-app='app'>

    <div class="jumbotron">
    </div>

    <div class="row" ng-controller="Controller">
      <div class="col-md-6">
        <h4>User Account</h4>

        <form name="userForm">

          <div class="form-group">
            <input name="name" class="form-control" ng-model="user.name"
              placeholder="Name" required>
            <div class="alert alert-danger"
              ng-show="userForm.name.$error.required && userForm.name.$dirty">
              Please enter your name!
            </div>
          </div>

          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">@</span>
              <input name="email" class="form-control" ng-model="user.email"
                placeholder="Email" required>
              <div class="alert alert-danger"
                ng-show="userForm.email.$error.required && userForm.email.$dirty">
                Please enter your email!
              </div>
            </div>
          </div>

          <div class="form-group">
            <input name="username" class="form-control" ng-model="user.username"
              placeholder="Username" required>
            <div class="alert alert-danger"
              ng-show="userForm.username.$error.required && userForm.username.$dirty">
              Please enter your username!
            </div>
          </div>

          <button type="submit" class="btn btn-default pull-right"
            ng-click="save(user)" ng-disabled="userForm.$invalid">
            Save
          </button>

        </form>
      </div>

      <div class="col-md-6">
        <div ng-show="savedUser">
          <h4>Saved User:</h4>
          <dl>
            <dt>Name</dt>
            <dd>{{savedUser.name}}</dd>

            <dt>Email</dt>
            <dd>{{savedUser.email}}</dd>

            <dt>Username</dt>
            <dd>{{savedUser.username}}</dd>
          </dl>
        </div>
      </div>
    </div>

  <script src="./bower_components/angularjs/angular.min.js"></script>
  <script src="./scripts/controller.js"></script>
</body>
</html>
